# Trash
.DS_Store
Thumbs.db
*-test.yaml
extracted_values.yaml
# Ansible
ansible_old
ansible/ansible.log
ansible/roles/*
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate*
terraform.tfstate*
# Helm
*.tgz
Chart.lock
# VSCode
.vscode/
test.yaml
