---
apiVersion: v1
kind: Namespace
metadata:
  name: op
---
apiVersion: v1
data:
  1password-credentials.json: {{ op_base64 }}
kind: Secret
metadata:
  labels:
    app.kubernetes.io/component: connect
    app.kubernetes.io/instance: connect
    app.kubernetes.io/name: connect
    app.kubernetes.io/version: 1.7.1
  name: op-credentials
  namespace: op
type: Opaque
